name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd ~

          # Clone repo if not exists
          if [ ! -d devops-cicd-project ]; then
            git clone https://github.com/mohit7821/devops-cicd-project.git
          fi

          cd devops-cicd-project
          git pull origin main

          # Stop everything on port 3000
          docker rm -f devops-app || true

          # Build & run
          docker build -t devops-app .
          docker run -d -p 3000:3000 --name devops-app devops-app

